<h1><%= _("Password Recovery") %></h1>

<div id="change-passwd-ucsal">

  <%= form_for :user, method: 'post' do |f| %>
    <%= labelled_form_field(_("Enrollment:"), f.text_field(:matricula, required: true, size: 20)) %>
    <%= labelled_form_field(_("Birth Date:"), f.text_field(:dt_nascimento, required: true, size: 20)) %>
    <%= labelled_form_field(_("CPF:"), f.text_field(:cpf, required: true, maxlength: 11, size: 20)) %>
    <% button_bar do %>
      <%= submit_button 'save', _('Send solicitation'), :cancel => { :action => 'index' }  %>
    <% end %>
  <% end %>

  <p>
    <%= _("Your request will be forwarded to the Secretaria to generate a new password. Please, wait for the email confirmation.") %>
  </p>
</div><!-- end id="change-passwd-ucsal" -->

<%= javascript_include_tag '/assets/plugins/ucsal/change-password' %>
