<%# encoding: UTF-8 %>
<h1><%= _("Password Recovery") %></h1>

<p>
  <pre>
    <%= message %>
  </pre>
</p>

<% unless success %>
  <p>
    <%= _("Sorry, there was an error in communication with the password change system.") %>
  </p>
  <p>
    <%= _("Please, contact the ") %>
    <%= link_to("NAC", "/institucional/nucleo-de-atendimento-a-comunidade-nac") %>
    <%= _(" to report on flaw and ask about other ways to change your password.") %>
  </p>
<% end %>

<% button_bar do %>
  <%= button 'back', _('Back'), :controller => 'account', :action => 'change_password' %>
<% end %>
